<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bil496">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ZOOLOGICALFEEDING APP"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_enter_recipe"
            android:icon="@drawable/logo"
            />
        <activity
            android:name=".ContainerDetailsActivity"
            android:label="Container Details"
            android:theme="@style/EditorTheme"
            android:icon="@drawable/logo"
            />
        <activity
            android:name=".HistoryActivity"
            android:label="Container History"
            android:theme="@style/EditorTheme"
            android:icon="@drawable/logo"
            />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_search"
            android:icon="@drawable/logo"
             />
        <activity
            android:name=".DonationActivity"
            android:label="Donation Page"
            android:icon="@drawable/logo"
            />
        <activity
            android:name=".RegistrationActivity"
            android:label="@string/title_activity_registration"
            android:icon="@drawable/logo"
            />
        <activity
            android:name=".CartActivity"
            android:label="Donation Page"
            android:icon="@drawable/logo"/>
        <activity
            android:name=".ContainerActivity"
            android:label="Container List"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
    </application>


</manifest>